# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Static files
staticfiles/

# Django specific
db.sqlite3
*.log

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
